<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.study.board.domain.user.UserMapper">
  <insert id="saveUser" parameterType="UserResponse" useGeneratedKeys="true" keyProperty="uno">
    INSERT INTO board.user (loginId, password, name, gender, birthday, deleteYn, createdDate,
                            modifiedDate)
    VALUES ( #{loginId}
           , #{password}
           , #{name}
           , #{gender}
           , #{birthday}
           , 0
           , NOW()
           , NULL)
  </insert>

  <select id="findById" parameterType="String" resultType="UserResponse">
    select *
    from board.user
    where deleteYn = 0
      and loginId = #{loginId}
  </select>

  <update id="update" parameterType="UserRequest">
    update board.user
    set modifiedDate = NOW()
    , name = #{name}
    , gender = #{gender}
    , birthday = #{birthday}
    <if test="password != null and password != ''">
      , password = #{password}
    </if>
    WHERE uno = #{uno}
  </update>

  <delete id="deleteByUno" parameterType="Long">
    UPDATE board.user
    SET deleteYn = 1
    WHERE uno = #{uno}
  </delete>

  <select id="countById" parameterType="String" resultType="int">
    SELECT
      COUNT(*)
    FROM
      board.user
    WHERE
      loginId = #{loginId}
  </select>

  <select id="findAll" resultType="PostResponse">
    SELECT *
    FROM board.post
    WHERE deleteYn = 0
    ORDER BY bno DESC
  </select>
</mapper>